@import "tailwindcss";

:root {
  --bg-clr: #00050E;
  --light-bg: #0A0F1A;
  --txt-clr: #FFFFFF;
  --acc-clr: #2DCAD7;
  --sec-clr: #cccccc;

  --pry-ff: "Plus Jakarta Sans", sans-serif;
  --tet-ff: 'Mona-Sans', sans-serif;
  --sec-ff: "Manrope", sans-serif;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  body {
    padding-bottom: 60px; /* Space for bottom nav */
  }
}

.bg-clr {
  color: var(--bg-clr);
  border: 1px solid var(--bg-clr);
}

.acc-clr {
  color: var(--acc-clr);
  background-color: var(--acc-clr);
  border: 1px solid var(--acc-clr);
  text-shadow:
    0 0 5px var(--acc-clr),
    0 0 10px var(--acc-clr),
    0 0 20px var(--acc-clr),
    0 0 30px var(--acc-clr),
    0 0 40px var(--acc-clr);
}

.txt-clr {
  color: var(--txt-clr);
  border: 1px solid var(--txt-clr);
}

.sec-clr {
  color: var(--sec-clr);
}

.pry-ff {
  font-family: var(--pry-ff);
}

.sec-ff {
  font-family: var(--sec-ff);
}

.tet-ff {
  font-family: var(--tet-ff);
}